@tailwind base;
@tailwind components;
@tailwind utilities;

*,
html,
body {
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: grey transparent;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: grey;
}

.p-toast-message {
  padding: 10px !important;
  margin-bottom: 5px;
  margin-top: 5px;
}

.p-toast-message-content {
  display: flex;
  gap: 10px;
}

.p-icon {
  width: 25px;
}
